@import url("style.css");
body {
    position: relative;
}
#contact_modal,
#lightboxModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}
.contact_button,
#dropDownMenu {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 190px;
}

.modal header img {
    cursor: pointer;
}
.modal header button {
    background: none;
    border: none;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    color: #000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}
form textarea {
    height: 170px;
}
.error {
    width: 100%;
    margin: 4px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1.3em;
    color: #fff;
    background-color: red;
    border-radius: 30px;
}
.inputError {
    border: 3px solid red;
}

/* form input:focus:invalid {
    border: tomato 2px solid;
}
form input:focus:valid + .error .invalid {
    display: none;
}
fom input:valid:not(:last-child) {
    border: seagreen 2px solid;
} */

.photograph-header article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
}
.photograph-header h2 {
    font-size: 64px;
}
.photograph-header h3 {
    margin: 10px 0;
    font-size: 24px;
}
.photograph-header p {
    font-size: 18px;
}
.photograph-header img {
    height: 250px;
    width: 250px;
    grid-column: 3/ 4;
}
.contact_photographer {
    position: absolute;
    top: 210px;
    left: 42%;
    transition: 0.4s;
    z-index: 1;
    width: 180px;
}

.contact_photographer:hover {
    background-color: #db8876;
    color: #000;
    transform: translateY(4px);
    box-shadow: 0px 0px 10px #db8876;
}

.introduction {
    padding-left: 20px;
}
.media {
    margin: 0 100px;
}
#dropDownMenu {
    width: 200px;
    padding-left: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/icons/chevron.svg);
    background-size: 15px;
    background-position: calc(100% - 20px) 50%;
    background-repeat: no-repeat;
}
#dropDownMenu:hover {
    box-shadow: 0px 0px 10px #901c1c;
}
.containerDropDown {
    margin-top: 20px;
}
/* .arrowDropMenu {
    position: absolute;
    right: 25px;
    top: 22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.dropDownMenu::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    pointer-events: none;
    transform: translateY(-50%) rotate(-135deg);
} */
label {
    font-size: 19px;
    margin-right: 15px;
}
/* .showMenu {
    height: 200px;
    cursor: pointer;
}
option {
    appearance: none;
    padding: 20px;
}
option:nth-child(-n + 2) {
    border-bottom: 2px #fff solid;
} */

.containerMediaWork {
    margin-top: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.divMedia img,
video {
    border-radius: 5px;
    width: 100%;
    height: 300px;
    cursor: pointer;
    object-position: 0 35%;
    object-fit: cover;
    transition: 0.4s;
}
.divMedia img:hover,
video:hover {
    box-shadow: 0px 0px 10px #666;
    opacity: 0.8;
}

.titleLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleLike,
.likePrice h3 {
    font-size: 25px;
}
.titleLike span,
i {
    margin-left: 5px;
    font-size: 20px;
    color: #901c1c;
    cursor: pointer;
}
.divLike {
    display: flex;
    align-items: center;
}

#lightboxModal {
    background-color: #fff;
    width: 100%;
}
.lightbox {
    position: relative;
    width: 60%;
    height: 80vh;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.viewInLightbox {
    width: 90%;
    margin: 40px auto;
}
.closeLightbox {
    position: absolute;
    top: 0;
    right: -20px;
    font-size: 50px;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    color: #901c1c;
    cursor: pointer;
}
.chevron {
    font-size: 50px;
    color: #901c1c;
    cursor: pointer;
    width: 100px;
    height: 200px;
}

.likeHeart i {
    margin-left: 5px;
    color: #000;
    font-size: 25px;
}

.likePrice {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #db8876;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    bottom: 0;
    right: 3%;
}
.likeHeart {
    display: flex;
    align-items: center;
}
.dailyPrice {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 1150px) {
    .containerMediaWork {
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .photograph-header article {
        grid-template-columns: 1fr 1fr;
    }
    .photograph-header img {
        height: 180px;
        width: 180px;
        margin-right: 20px;
    }
    .photograph-header h2 {
        font-size: 40px;
    }
    .photograph-header h3 {
        margin: 10px 0;
        font-size: 20px;
    }
    .photograph-header p {
        font-size: 18px;
    }
}
@media screen and (max-width: 900px) {
    .containerMediaWork {
        grid-template-columns: 1fr;
    }
    .divMedia img,
    video {
        height: 300px;
    }
    .photograph-header article {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: flex-start;
    }
    .photograph-header img {
        height: 150px;
        width: 150px;
        margin-right: 20px;
    }
    .photograph-header {
        background-color: #fafafa;
        height: 250px;
        margin: 0 20px;
    }
    .photograph-header h2 {
        font-size: 30px;
    }
    .photograph-header h3 {
        margin: 10px 0;
        font-size: 20px;
    }
    .contact_photographer {
        top: 280px;
    }
    .contact_button,
    #dropDownMenu {
        font-size: 16px;
        width: 150px;
        height: 50px;
    }
    .media {
        margin: 0 10%;
    }
    .likePrice {
        width: 300px;
        height: 50px;
        border-radius: 5px;
        right: 2%;
    }
}
