@import url("style.css");
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}
.contact_button,
#dropDownMenu {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 190px;
}

.modal header img {
    cursor: pointer;
}
.modal header button {
    background: none;
    border: none;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    color: #000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}
form textarea {
    height: 170px;
}
.photograph-header article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
}
.photograph-header h2 {
    font-size: 64px;
    line-height: 83px;
}
.photograph-header h3 {
    margin: 10px 0;
    font-size: 24px;
}
.photograph-header p {
    font-size: 18px;
}
.photograph-header img {
    height: 250px;
    width: 250px;
    grid-column: 3/ 4;
}
.contact_photographer {
    position: absolute;
    top: 210px;
    left: 42%;
    transition: 0.4s;
    z-index: 1;
    width: 180px;
}

.contact_photographer:hover {
    background-color: #db8876;
    color: #000;
    transform: translateY(4px);
    box-shadow: 0px 0px 10px #db8876;
}

.introduction {
    padding-left: 20px;
}
.likePrice {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #db8876;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    bottom: 0;
    right: 3%;
}
.likePrice p {
    font-size: 24px;
}
body {
    position: relative;
}
.likePrice i {
    margin-left: 5px;
}
.media {
    margin: 0 100px;
}
#dropDownMenu {
    width: 200px;
    padding-left: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../assets/icons/chevron.svg);
    background-size: 15px;
    background-position: calc(100% - 20px) 50%;
    background-repeat: no-repeat;
}
.containerDropDown {
    margin-top: 20px;
}
/* .arrowDropMenu {
    position: absolute;
    right: 25px;
    top: 22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.dropDownMenu::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    pointer-events: none;
    transform: translateY(-50%) rotate(-135deg);
} */
label {
    font-size: 19px;
    margin-right: 15px;
}
/* .showMenu {
    height: 200px;
    cursor: pointer;
}
option {
    appearance: none;
    padding: 20px;
}
option:nth-child(-n + 2) {
    border-bottom: 2px #fff solid;
} */

.containerMediaWork {
    margin-top: 40px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.divMedia img,
video {
    border-radius: 5px;
    width: 100%;
    height: 300px;
    cursor: pointer;
    object-position: 0 35%;
    object-fit: cover;
    transition: 0.4s;
}
.divMedia img:hover,
video:hover {
    box-shadow: 0px 0px 10px #666;
    opacity: 0.8;
}
.titleLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleLike h3 {
    font-size: 25px;
}
.titleLike span,
i {
    margin-left: 5px;
    font-size: 20px;
    color: #901c1c;
    cursor: pointer;
}
